<ion-header>
  <ion-toolbar class="menutoolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  >
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-grid>
  <form >
    <ion-row>
      <ion-col>
          <ion-card class="welcome-card">
              <img src="../assets/images/bannermenu.png" alt="" />
              <!-- <ion-card-header>
                <ion-card-subtitle>Cotton care</ion-card-subtitle>
                <ion-card-title>Welcome!</ion-card-title>
              </ion-card-header> -->
              <!-- <ion-card-content>
                <p>Cotton Care dry cleaner is dedicated to helping you achieve a quality lifestyle by taking the most dreaded chore of ironing and laundry cleaning off your to-do list.</p>
              </ion-card-content> -->
            </ion-card>
            <ion-list lines="none">
              <ion-list-header>
                <ion-label>Register</ion-label>
              </ion-list-header>
              <ion-item >
                <ion-icon slot="start" color="medium" name="book"></ion-icon>
                <ion-input name="names" placeholder="Name" ></ion-input>
              </ion-item>
              <ion-item >
                <ion-icon slot="start" color="medium" name="build"></ion-icon>
                <ion-input name="email" placeholder="Email" ></ion-input>
              </ion-item>
              <ion-item >
                <ion-icon slot="start" color="medium" name="grid"></ion-icon>
                <ion-input name="email" placeholder="Password" class="ion-float-left" position="bottom"></ion-input>
                <ion-input name="email" placeholder="Re-type password" class="ion-float-right" position="bottom"></ion-input>
              </ion-item>
              <ion-item >
                <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                <ion-input name="email" placeholder="HP # 1" class="ion-float-left" position="bottom"></ion-input>
                <ion-input name="email" placeholder="HP # 2" class="ion-float-right" position="bottom"></ion-input>
              </ion-item>
              <ion-item >
                  <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                  <ion-input name="email" placeholder="Unit #" class="ion-float-left" position="bottom"></ion-input>
                  <ion-input name="email" placeholder="Building #" class="ion-float-right" position="bottom"></ion-input>
              </ion-item>
              <ion-item >
                    <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                    <ion-input name="email" placeholder="Lift/Lobby" ></ion-input>
              </ion-item>
              <ion-item >
                    <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                    <ion-input name="email" placeholder="Postal #" ></ion-input>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="containertext">
      <ion-col>
        <ion-input name="names" placeholder="Name" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="containertext">
      <ion-col>
        <ion-input name="email" placeholder="Email" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="containertext">
      <ion-col  >
          <ion-input name="email" placeholder="Password" class="ion-float-left" position="bottom"></ion-input>
      </ion-col>
      <ion-col  >
          <ion-input name="email" placeholder="Re-type password" class="ion-float-right" position="bottom"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col  class="containertext">
            <ion-input name="email" placeholder="HP # 1" class="ion-float-left" position="bottom"></ion-input>
        </ion-col>
        <ion-col  class="containertext">
            <ion-input name="email" placeholder="HP # 2" class="ion-float-right" position="bottom"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col  class="containertext">
            <ion-input name="email" placeholder="Unit #" class="ion-float-left" position="bottom"></ion-input>
        </ion-col>
        <ion-col  class="containertext">
            <ion-input name="email" placeholder="Building #" class="ion-float-right" position="bottom"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    <ion-row class="containertext">
        <ion-col>
          <ion-input name="email" placeholder="Lift/Lobby" ></ion-input>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
     <ion-row class="containertext">
        <ion-col>
          <ion-input name="email" placeholder="Postal #" ></ion-input>
        </ion-col>
     </ion-row> -->
  </form>
  <ion-row class="containerforsocial">
    <ion-col >
      <ion-button expand="full" shape="round" color="warning" class="ion-float-left" position="bottom"
        href="home">BACK</ion-button>
      
    </ion-col>
    <ion-col >
        <ion-button expand="full" shape="round" color="warning" class="ion-float-right" position="bottom">SUBMIT</ion-button>
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>